[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Stoll/gateway-microservices.git
[submodule "product-ms"]
	path = product-ms
	url = https://github.com/Nest-Microservices-Stoll/products-microservices.git
[submodule "order-ms"]
	path = order-ms
	url = https://github.com/Nest-Microservices-Stoll/orders-ms.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-Stoll/payments-ms.git
